#bodyWrapper {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top: -40px;
    width:50%;
    min-width: 650px;
}
ul#menu li a {
    border-radius: 5px 5px 5px 5px;
}

 	
#headerLeft{
    float: left;
    width: 50%;
}

#headerRight{
    float: right;	
    width: 50%;
}

.topmenu{
	cursor: auto;
	color: #777;
	text-decoration: none;
}

#topNav{
	float: right;
}

ul#topNav li { 
	float: left; 
}
ul#topNav li:before { 
	content: "|"; 
	color: #777;
	padding: 0 .5em; 
}
ul#topNav li:first-child:before { 
	content: ""; 
	padding: 0; 
}

#search{
    	float: right;
}

#bigContent{	
	padding: 25px 25px;
	background-color: #F7F6F4;
	padding-bottom: 25px;
overflow:auto
	clear: both;
}

#contentText{
	clear: both;
	overflow: hidden;
	width:60%;
}

#twit{
	position: relative;
	float:right;
	border:2px;
	width:40%;	
	margin-top: -140px;
	margin-right: -20px;
}


#spacer{
	position: relative;
	margin-top:100px;
	height:100px;
	z-index: -1;
}


ul#topNav li {
    display: inline;
}


#topNavigation{
   height: 20px;

}
#title{
    background-color: #358ADC;
	padding: 0 25px;
}

#footerContainer{
	background-color: #E5E2DA;
}
#titleText{

    color: #fff;
    line-height: 60px;
    font-size: 22px;
	font-family: Arial,sans-serif;
}



#separator{
	height:10px;
	background-color: #CFC6BF;
}
#littleContent{
	height:225px;
	background-color: #F7F2EF;
}
#Informational{
}
