#bodyWrapper {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top: -40px;
    width:50%;
    min-width: 650px;
}
ul#menu li a {
    border-radius: 5px 5px 5px 5px;
}

 	
#headerLeft{
    float: left;
    width: 50%;
}

#headerRight{
    float: right;	
    width: 60%;
    margin-top:-11%;
}

.topmenu{
	cursor: auto;
	color: #777;
	text-decoration: none;
}

#topNav{
	float: right;
}

ul#topNav li { 
	float: left; 
}
ul#topNav li:before { 
	content: "|"; 
	color: #777;
	padding: 0 .5em; 
}
ul#topNav li:first-child:before { 
	content: ""; 
	padding: 0; 
}

#search{
    	float: right;
}

#bigContent{	
	position: relative;
	padding: 15px 15px;
	background-color: #F7F6F4;
	padding-bottom: 25px;

}

#contentText{
	width:65%;
	padding-right: 15px
}

#contentTable{
    table-layout: fixed;
    width: 100%;

}

#twit{
	border:2px;
	width:100%;	
	
}

table#topNav td {
    border: 1px solid black;
    overflow: hidden;
    width: 50%;
}

#spacer{
	position: relative;
	margin-top:100px;
	height:100px;
	z-index: -1;
}


ul#topNav li {
    display: inline;
}


#topNavigation{
   height: 20px;

}
#title{
    background-color: #358ADC;
	padding: 0 25px;
}

#footerContainer{
	background-color: #E5E2DA;
}
#titleText{

    color: #fff;
    line-height: 60px;
    font-size: 22px;
	font-family: Arial,sans-serif;
}



#separator{
	height:10px;
	background-color: #CFC6BF;
}
#littleContent{
	height:225px;
	background-color: #F7F2EF;
}
#Informational{
}
